<div class = "primary_background">

<div class="header_holder">
	<h1 class = "header1">Welcome to the future of Learning</h1>
	<h1 class = "sub-header">It's Time to Get School'd</h1>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>

<div class = "secondary_background">

<br>
<br>
<br>

<h1 class = "header2">The Mission</h1>

<p class = "main-content">School'd is an interactive coding experience dedicated to creating immersive experiences for learning twenty-first century skills through an intuitive and compelling format.  At School'd we believe that learning should not be a chore.  Learning should engage students, it should be wildly entertaining, and above all, it should have a purpose.  Here at School'd we encourage creative risk-taking and fast failure.  Students are not graded.  They are rewarded for trying new things, being creative, being bold, and working collaboratively to solve problems.  It is our goal to see young people empowered by these tools, and then set them loose to shape the world.  <%=link_to "Make an account", new_user_registration_path %> and discover the power of code.</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	</div>

<div class = "tertiary_background">

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 class = "header3">The Design Team</h1>

	<div id = "dom-container">
		<div id = "dom"></div>
		<p class = "bio-content">Domitrius is an up and coming Full Stack developer with a heavy interest in spreading the ability to code for all. He spends most of his free time geeking out on some video games and streaming on Twitch!</p>
	</div>

	<div id = "john-container">
		<div id = "john"></div>
			<p class = "bio-content">My name is John Occhipinti, I was born in Chevy Chase, Maryland to Kerri and John Occhipinti,  my  three older sisters: Jordyn, Taylor, and Riley,  were awaiting my arrival .  After moving to Scranton, Pennsylvania our fifth and final sibling my little sister, Londyn was born.  I enjoy many things including, coding, skiing, and playing basketball.</p>
	</div>

	<div id = "mateo-container">
		<div id = "mateo"></div>
			<p class = "bio-content"><strong id = "mateo-name">Mateo</strong> is a developer, designer, and explorer, residing in Philadelphia.  He designs apps primarily centered around experiential learning and exploration.  This allows him to bring his knowledge as a teacher, anthropologist, writer, and traveler to people around the world, inspiring them to learn more, live more, experince more, and share the results.</p>
	</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>



