body {
	background-image:url("https://i.ytimg.com/vi/lt0WQ8JzLz4/maxresdefault.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/*-------------------About Me--------------*/
.header {
	border: 2px solid black;
	width:26%;
	background-color: white
}

.profile-pic{
	background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13876624_1066285113419309_1703756042589646836_n.jpg?oh=ce7bc37612bdecdcb9758f5fbd5ef94a&oe=596B21F0");
	height: 300px;
	width: 200px;
	background-size: cover;
	float: left;
	margin: 10px;
}


.subtitle{
	margin: 5px;
	font-size: 18px;
	border: 2px solid black;
	background-color: white;
	width: 50%;
	display: inline;
}


.about{
	border: 2px solid black;
	background-color: white;
	width: 50%;
	display: inline-block;
}

.movies{
	border: 2px solid black;
	background-color: white;
	width: 50%;
	display: inline-block;

}
.music{
	border: 2px solid black;
	background-color: white;
	width: 50%;
	display: inline-block;
}

.photo-gallery{
	text-align: center;
}

.top-gallery{
	width: 800px;
	height: 400px;
	background-size: cover;
	margin:0 auto;
	text-align: center;
}

.pic-1{
	width: 200px;
	height: 200px;
	background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13528876_1565164093789422_3339105964626479751_n.jpg?oh=01c442e32b2385cb81a154b70709de5c&oe=5961D23D");
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	margin: 10px;
}

.pic-2{
	background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/10906333_920930817917024_449282898857779074_n.jpg?oh=d130cd62bb3dac8cbe13ecf9959edd8f&oe=5935D385");
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-repeat:no-repeat;
	float: left;
	margin: 10px;
}

.pic-3{
	background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/60047_10201661041587373_1005313817_n.jpg?oh=a8e678d951bf13b50c069bf889789156&oe=5966A80C");
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-repeat:no-repeat;
	float: left;
	margin: 10px;
}

.bottom-gallery{
	width: 800px;
	height: 400px;
	background-size: cover;
	margin:0 auto;
	text-align: center;
}

.pic-6{
	background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13600024_10210214012055280_7882353716276410700_n.jpg?oh=3a60c43250fc68a85eb89db43e6017a2&oe=59314FA0");
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-repeat:no-repeat;
	float: left;
	margin: 10px;
}

.pic-7{
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-repeat:no-repeat;
	float: left;
	margin: 10px;
	background-image:url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-0/p206x206/11221635_1702235673345120_3110455678152135515_n.jpg?oh=98e6ebc45e62adb60c16d1d7ab1ea953&oe=5932A4BF");
}

.pic-8{
	width: 200px;
	height: 200px;
	background-size: 100%;
	background--repeat:no-repeat;
	float: left;
	margin: 10px;
	background-image:url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/10329312_10205211301135466_2003957611262429144_n.jpg?oh=bec44056811c96764d3cdf7337591673&oe=596D3597");

}

.audio{
	text-align:center;
}