<div class="row">

	<div class="col-md-6">

		<div class="challenge">
		<p class="challenge-description">We've now got ourselves a profile picture and your name. Almost enough to really make it your own. Now we're going to use the paragraph, or "p" tag to enter in an about me. You can type any amount inside the text field because a "p" tag can hold a huge amount of text!
		</p>


		
		<a class="links" href="google.com">Words that link to a site</a>
		<a class="links" href="google.com">Words that link to a site</a>

		<p class="picture-input">"< p >"</p><input type="text" name="p_tag" id="answer" /><p>"< / p >"</p>	
		<button type="button">Submit code!</button>

		</div>


	</div>

	<div class="col-md-6">

		<img class="profile-picture" src="">
		<h1 class="name"></h1>


		<p class="about-me"></p>


	</div>