<div class="row">

	<div class="col-md-6">

		<p class="challenge_description">
			The default background in any browser is always set to a bare and boring white.  Sometimes the developer will style the background through the body element, thus making all the pages the same color and style.  This is known as a layout style.  In our case, the background has been set to a tone of silver.  Yet, if we wanted to, we could customize the background to any color or colors we want.  So, for this exercise, simply choose a color, type it between the curly braces, and press Submit Code!
		</p>

		<a class= "links" href= https://www.w3schools.com/css/css_intro.asp > Everything you wanted to know about CSS, but were afraid to ask! </a>
<br>
<br>
		<p class="challenge_layout">.custom_background { <br> background-color:</p>
	        <input type="text" name="background_color" id="answer" />
	        <button class = "code_generator" type="button">Submit code!
	        </button>
		<p class="challenge_layout">};</p>
	</div>

	<div class="col-md-6">
		<div class = "custom_background"></div>
	</div>

</div>