<div class="row">

	<div class="col-md-6">

		<div class="challenge">
		<p class="challenge-description">Remember that image tag? Well let's revisit that real quick. This time we're going to be using three images to create a mini gallery of pictures. Go and grab some pictures of your favorite sport, videogame, or whatever you like! (remember you can google your image and copy the URL right into the form!)</p>


		
		<a class="links" href="google.com">Words that link to a site</a>
		<a class="links" href="google.com">Words that link to a site</a>

		<p class="picture-input">"< img >"</p><input type="text" name="image_one" id="answer4" /><p>"< / img >"</p>	
		<p class="picture-input">"< img >"</p><input type="text" name="image_two" id="answer5" /><p>"< / img >"</p>	
		<p class="picture-input">"< img >"</p><input type="text" name="image_three" id="answer6" /><p>"< / img >"</p>	
		<button type="button">Submit code!</button>
		<button type="submit">To the next challenge!</button>

		</div>


	</div>

	<div class="col-md-6">
		<div class="pro-pic"></div>
			<img class="profile-picture" src="">
		</div>

		<h1 class="name"></h1>


		<p class="about-me"></p>


		<img src="photo-1">
		<img src="photo-2">
		<img src="photo-3">


	</div>








</div>
