
<div class="row">

	<div class="col-md-6 first-column">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>	

		<div class="challenge">
		<p class="challenge-description">
		For this challenge we're gonna look into the <i>header</i> tag. There h tags range from h1; the biggest header, to h6; the smallest header. These tags allow you to pull attention to a line of text and show importance! For the purpose of building a profile, we're going to use the h1 tag and enter your name.</p>


		
		<a class="links" href="https://www.w3schools.com/tags/tag_hn.asp">W3schools definition and usage for H1-H6 tags</a>
		

		<!-- <p class="picture-input">"< h1 >"</p><input type="text" name="heading_tag" id="answer2" /><p>"< / h1 >"</p>	
		<button type="button">Submit code!</button>
 -->


		<%= form_for :heading_tag do |f| %>
			<p>< h1 ><%= f.text_field  :heading_tag, id: "answer2" %>< /h1 ></p>
			<button type="button">Submit Code!</button>
			<%= f.submit "Next Challenge!" %>
			<a href="/challenge_three">Next Challenge</a>
		<% end %>


		</div>


	</div>

	<div class="col-md-6">

	<div class="custom_background">


		<img class="profile-picture" src="">
		<h1 class="heading_tag"></h1>

	</div>
		
	</div>








</div>
