
<div class="row">

	<div class="col-md-6">

		<div class="challenge">
		<p class="challenge-description">
		For this challenge we're gonna look into the <i>header</i> tag. There h tags range from h1; the biggest header, to h6; the smallest header. These tags allow you to pull attention to a line of text and show importance! For the purpose of building a profile, we're going to use the h1 tag and enter your name.</p>


		
		<a class="links" href="google.com">Words that link to a site</a>
		<a class="links" href="google.com">Words that link to a site</a>

		<p class="picture-input">"< h1 >"</p><input type="text" name="heading_tag" id="answer2" /><p>"< / h1 >"</p>	
		<button type="button">Submit code!</button>

		</div>


	</div>

	<div class="col-md-6">

		<img class="profile-picture" src="">
		<h1 class="heading_tag"></h1>


		
	</div>








</div>
