<div class="row">

	<div class="col-md-6">

		<p class="challenge_description">
			Layout styles allow us to layout the page and it's elements in any way we choose.  For instance, do we want the text aligned left, right , or center?  Do we want a lot of space between elements or very little?  This will all be decided in the layout of the page using CSS.
<br>
<br>
			In this exercise we're going to move the content of our profiles around until we have them looking their very best.  We'll do this using the margin and passing properties.  In addition, we'll also align the text we put on our page through the use of text-align.
<br>
<br>
			Manipulating the padding and margin is easy.  Margin will move whatever element we target however many pixels we choose away from it's neighbors.  So, if we add a 10px margin, our text will be spaced 10 pixels away from any other element.  10px of padding will move the text 10 pixels away from the edge of it's own container.  0 padding is like a rug that completely covers a room, while a 10px padding will add 10 pixels of space between the rug and all the walls in the room.  Margin will add space between the rooms in the house.  Text-align will simply move the text left, right, or center by entering one of these three commands.  Let's move some text and Submit Code!
		</p>

		<a class= "links" href= https://www.w3schools.com/css/css_intro.asp > Everything you wanted to know about CSS, but were afraid to ask! </a>
<br>
<br>
	<form method = "get">
		<p class="challenge_layout">.main_content { <br> margin:</p>
      <input type="text" name="margin" id="answer_1" />
    <p class="challenge_layout">.main_content { <br> padding:</p>
      <input type="text" name="padding" id="answer_2" />
    <p class="challenge_layout">.main_content { <br> text-align:</p>
      <input type="text" name="text-align" id="answer_3" />
      <button class = "code_generator" type="button">Submit code!
      </button>
  </form>
		<p class="challenge_layout">};</p>
	</div>

	<div class="col-md-6">
		<div class = "custom_background">
			<p class = "main_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
	</div>

</div>