<div class="row">

	<div class="col-md-6">

		<p class="challenge_description">
			Now we will continue to build on what we learned in the first HTML challenge when we uploaded our profile pictures. This time we will learn how to position, size, and format <img> elements. We will now determine exactly how and where we want our profile pictures to render so that they look exactly how we wanrt them to for anyone who decides to come check out our page. 
		</p>

		<a class= "links" href= https://www.w3schools.com/css/css_intro.asp > Everything you wanted to know about CSS, but were afraid to ask! </a>
<br>
<br>
		<p class="picture_positioning">img { <br> text align:</p><input type="text" name="profile_pic" id="answer" />
		<button type="button">Submit code!</button>