<div class="row">

	<div class="col-md-6">

		<p class="challenge_description">
			Now we will continue to build on what we learned in the first HTML challenge when we uploaded our profile pictures. This time we will learn how to position, size, and format <img> elements. We will now determine exactly how and where we want our profile pictures to render so that they look exactly how we wanrt them to for anyone who decides to come check out our page.  We can manipulate the position of elements on the page throught the margin property.  Below you'll see the element on the page that represents the profile picture you uploaded earlier followed by a set of curly braces {}.  Inside the curly braces is where we tell CSS what we want to do with that element.  So, we have a margin property and now we'll use that property to center our profile picture.  To do this we simply type 0 auto and voila!  The picture will center before our very eyes in the view on the left.
		</p>

		<a class= "links" href= https://www.w3schools.com/css/css_intro.asp > Everything you wanted to know about CSS, but were afraid to ask! </a>
<br>
<br>
<p class="picture_positioning">.profile_picture { <br> margin:</p>
        <input type="text" name="profile_pic" id="answer" />
        <button class = "code_generator" type="button">Submit code!
        </button>
<p class="picture_positioning">};</p>
	</div>

	<div class="col-md-6">
		<div class="profile_picture"></div>
	</div>