<div class="row">
	<div class="col-md-6">
		<p class="challenge_description">
		The text we have comes with some basic style, color, and sizing by default.  Let's change that!  All we need to do is choose a color, type in a size, and pick a style for everyone to see.

		Choose a style from the following:
			- Georgia
			- Verdana
			- Courier New
			- Lucida Console
		</p>

		<a class= "links" href= https://www.w3schools.com/css/css_intro.asp > Everything you wanted to know about CSS, but were afraid to ask! </a>
<br>
<br>
		<p class="challenge_layout">.custom_background { <br> background-color:</p>
	<form method = "get">
		<p class="challenge_layout">.main_content { <br> font-size:</p>
      <input type="text" name="font-size" id="typography_1" />
    <p class="challenge_layout">.main_content { <br> color:</p>
      <input type="text" name="color" id="typography_2" />
    <p class="challenge_layout">.main_content { <br> font-family:</p>
      <input type="text" name="font-family" id="typography_3" />
      <button class = "code_generator" type="button">Submit code!
      </button>
  </form>
		<p class="challenge_layout">};</p>
	</div>

	<div class="col-md-6">
		<div class = "custom_background">
			<p class = "main_content challenge-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
	</div>

</div>